/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, input[type="submit"], button, a.button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1298888701') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner, a.button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, input[type="submit"]:focus, button:focus, a.button:focus {
  outline: none;
}

/* line 3, ../../../app/stylesheets/custom1.scss */
* {
  margin: 0;
}

/* Total width = (columns * 40) - 10 */
/* line 28, ../../../app/stylesheets/custom1.scss */
#toda {
  color: #1eda00;
}

/* line 29, ../../../app/stylesheets/custom1.scss */
#todo {
  color: #008bda;
}

/* line 30, ../../../app/stylesheets/custom1.scss */
#hova {
  color: #1225f6;
}

/* Mixins */
/* line 74, ../../../app/stylesheets/custom1.scss */
html, body {
  color: #e6ffe6;
  font-family: "Museo Slab", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  height: 100%;
}

/* line 81, ../../../app/stylesheets/custom1.scss */
body {
  background: url(/images/body_background.png) repeat;
}

/* line 82, ../../../app/stylesheets/custom1.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Rounded MT", "Helvetica", cursive, sans-serif;
  font-weight: normal;
}

/* line 83, ../../../app/stylesheets/custom1.scss */
h1, h4 {
  text-shadow: #aaaaaa 1px 1px 1px;
  color: #236805;
}

/* line 84, ../../../app/stylesheets/custom1.scss */
h2, h3 {
  text-shadow: #aaaaaa 1px 1px 1px;
  color: #5bbf21;
}

/* line 87, ../../../app/stylesheets/custom1.scss */
#container {
  margin: 0 auto;
  width: 960px;
  background: #fff;
}

/* line 94, ../../../app/stylesheets/custom1.scss */
#header {
  background: url(/images/header_background.png) repeat;
  padding: 20px;
}

/* line 99, ../../../app/stylesheets/custom1.scss */
#logo {
  position: relative;
  top: 0px;
  left: 0px;
}

/* line 105, ../../../app/stylesheets/custom1.scss */
#banner {
  position: relative;
  top: 8px;
  left: 0px;
}

/* line 111, ../../../app/stylesheets/custom1.scss */
#header h1 {
  margin: 0;
}

/* line 113, ../../../app/stylesheets/custom1.scss */
#navigation {
  float: left;
  width: 960px;
  background: #333;
}

/* line 114, ../../../app/stylesheets/custom1.scss */
#navigation ul {
  margin: 0;
  padding: 0;
}

/* line 115, ../../../app/stylesheets/custom1.scss */
#navigation ul li {
  list-style-type: none;
  display: inline;
}

/* line 116, ../../../app/stylesheets/custom1.scss */
#navigation li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid#fff;
}

/* line 117, ../../../app/stylesheets/custom1.scss */
#navigation li a:hover {
  background: #6f9a06;
  text-shadow: #1225f6 1px 1px 1px;
}
/* line 117, ../../../app/stylesheets/custom1.scss */
#navigation li a:hover:active {
  background: #6f9a06;
}

/* line 118, ../../../app/stylesheets/custom1.scss */
#navigation ul li a.active {
  background: #6f9a06;
  font-weight: bold;
  text-shadow: #000 1px 1px 1px;
}

/* line 121, ../../../app/stylesheets/custom1.scss */
#content {
  background-color: #6f9a06;
  clear: left;
  padding: 20px;
}

/* line 129, ../../../app/stylesheets/custom1.scss */
#content h2 {
  color: #000;
  font-size: 160%;
  margin: 0 0 .5em;
}

/* line 136, ../../../app/stylesheets/custom1.scss */
#footer {
  background: url(/images/footer_background.png) repeat;
  text-align: right;
  padding: 20px;
  height: 1%;
}

/* line 144, ../../../app/stylesheets/custom1.scss */
#login_nav {
  position: absolute;
  top: 0px;
  padding: 2px;
  font-size: 80%;
}

/* line 152, ../../../app/stylesheets/custom1.scss */
.footer {
  font-color: #e6ffe6;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 157, ../../../app/stylesheets/custom1.scss */
.footer nav {
  float: none;
}

/*fancy input search*/
/* line 162, ../../../app/stylesheets/custom1.scss */
input[type="password"], input[type="text"], input[type="file"], input[type="email"], input[type="tel"], textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 0.5em;
  background: #eaf6ea;
  color: #036103;
  font-size: 14px;
  font-weight: none;
  font-style: normal;
  border-style: solid;
  border-color: #5d8105;
  border-width: 3px;
  height: 2em;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  font-family: "Museo Slab", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
}

/* line 168, ../../../app/stylesheets/custom1.scss */
textarea {
  height: 6em;
  width: 500px;
}

/* Buttons */
/* line 173, ../../../app/stylesheets/custom1.scss */
input[type="submit"] {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #72a000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c7f850), color-stop(10%, #a4e409), color-stop(50%, #648b05), color-stop(50%, #5a7d05), color-stop(100%, #7dae07));
  background-image: -moz-linear-gradient(top, #c7f850 0%, #a4e409 10%, #648b05 50%, #5a7d05 50%, #7dae07 100%);
  background-image: linear-gradient(top, #c7f850 0%, #a4e409 10%, #648b05 50%, #5a7d05 50%, #7dae07 100%);
  border-color: #3a5003;
  text-shadow: #172000 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.5em;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"], input[type="submit"]:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #679100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c3f841), color-stop(10%, #99d508), color-stop(50%, #5a7d05), color-stop(50%, #4f6e04), color-stop(100%, #739f06));
  background-image: -moz-linear-gradient(top, #c3f841 0%, #99d508 10%, #5a7d05 50%, #4f6e04 50%, #739f06 100%);
  background-image: linear-gradient(top, #c3f841 0%, #99d508 10%, #5a7d05 50%, #4f6e04 50%, #739f06 100%);
  border-color: #2f4203;
  text-shadow: #0c1100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:hover:visited, input[type="submit"]:focus, input[type="submit"]:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active {
  background-color: #5c8100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5a7d05), color-stop(30%, #618605), color-stop(50%, #537304), color-stop(50%, #486404), color-stop(100%, #76a406));
  background-image: -moz-linear-gradient(top, #5a7d05 0%, #618605 30%, #537304 50%, #486404 50%, #76a406 100%);
  background-image: linear-gradient(top, #5a7d05 0%, #618605 30%, #537304 50%, #486404 50%, #76a406 100%);
  border-color: #253302;
  text-shadow: #010200 0px -1px -1px;
  -moz-box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
  box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active, input[type="submit"]:active:visited {
  color: white;
}

/* line 174, ../../../app/stylesheets/custom1.scss */
button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #72a000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c7f850), color-stop(10%, #a4e409), color-stop(50%, #648b05), color-stop(50%, #5a7d05), color-stop(100%, #7dae07));
  background-image: -moz-linear-gradient(top, #c7f850 0%, #a4e409 10%, #648b05 50%, #5a7d05 50%, #7dae07 100%);
  background-image: linear-gradient(top, #c7f850 0%, #a4e409 10%, #648b05 50%, #5a7d05 50%, #7dae07 100%);
  border-color: #3a5003;
  text-shadow: #172000 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button, button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:focus {
  background-color: #679100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c3f841), color-stop(10%, #99d508), color-stop(50%, #5a7d05), color-stop(50%, #4f6e04), color-stop(100%, #739f06));
  background-image: -moz-linear-gradient(top, #c3f841 0%, #99d508 10%, #5a7d05 50%, #4f6e04 50%, #739f06 100%);
  background-image: linear-gradient(top, #c3f841 0%, #99d508 10%, #5a7d05 50%, #4f6e04 50%, #739f06 100%);
  border-color: #2f4203;
  text-shadow: #0c1100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:hover:visited, button:focus, button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:active {
  background-color: #5c8100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5a7d05), color-stop(30%, #618605), color-stop(50%, #537304), color-stop(50%, #486404), color-stop(100%, #76a406));
  background-image: -moz-linear-gradient(top, #5a7d05 0%, #618605 30%, #537304 50%, #486404 50%, #76a406 100%);
  background-image: linear-gradient(top, #5a7d05 0%, #618605 30%, #537304 50%, #486404 50%, #76a406 100%);
  border-color: #253302;
  text-shadow: #010200 0px -1px -1px;
  -moz-box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
  box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:active, button:active:visited {
  color: white;
}

/* Navigation */
/* Links */
/* line 179, ../../../app/stylesheets/custom1.scss */
a {
  color: #f6e312;
  text-decoration: none;
}
/* line 181, ../../../app/stylesheets/custom1.scss */
a:hover {
  color: #1225f6;
  text-decoration: underline;
}
/* line 182, ../../../app/stylesheets/custom1.scss */
a:visited {
  color: #f6e312;
}

/* line 184, ../../../app/stylesheets/custom1.scss */
a.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #72a000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c7f850), color-stop(10%, #a4e409), color-stop(50%, #648b05), color-stop(50%, #5a7d05), color-stop(100%, #7dae07));
  background-image: -moz-linear-gradient(top, #c7f850 0%, #a4e409 10%, #648b05 50%, #5a7d05 50%, #7dae07 100%);
  background-image: linear-gradient(top, #c7f850 0%, #a4e409 10%, #648b05 50%, #5a7d05 50%, #7dae07 100%);
  border-color: #3a5003;
  text-shadow: #172000 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.314) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.5em;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button, a.button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:focus {
  background-color: #679100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c3f841), color-stop(10%, #99d508), color-stop(50%, #5a7d05), color-stop(50%, #4f6e04), color-stop(100%, #739f06));
  background-image: -moz-linear-gradient(top, #c3f841 0%, #99d508 10%, #5a7d05 50%, #4f6e04 50%, #739f06 100%);
  background-image: linear-gradient(top, #c3f841 0%, #99d508 10%, #5a7d05 50%, #4f6e04 50%, #739f06 100%);
  border-color: #2f4203;
  text-shadow: #0c1100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:hover:visited, a.button:focus, a.button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button:active {
  background-color: #5c8100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5a7d05), color-stop(30%, #618605), color-stop(50%, #537304), color-stop(50%, #486404), color-stop(100%, #76a406));
  background-image: -moz-linear-gradient(top, #5a7d05 0%, #618605 30%, #537304 50%, #486404 50%, #76a406 100%);
  background-image: linear-gradient(top, #5a7d05 0%, #618605 30%, #537304 50%, #486404 50%, #76a406 100%);
  border-color: #253302;
  text-shadow: #010200 0px -1px -1px;
  -moz-box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
  box-shadow: #3a5003 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button:active, a.button:active:visited {
  color: white;
}

/* line 187, ../../../app/stylesheets/custom1.scss */
nav {
  float: right;
  white-space: nowrap;
}
/* line 190, ../../../app/stylesheets/custom1.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 193, ../../../app/stylesheets/custom1.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 197, ../../../app/stylesheets/custom1.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 200, ../../../app/stylesheets/custom1.scss */
nav ul li a:visited {
  color: #f6e312;
}
/* line 202, ../../../app/stylesheets/custom1.scss */
nav ul li a:hover {
  color: #1225f6;
  text-decoration: underline;
}

/* rotator */
/* line 207, ../../../app/stylesheets/custom1.scss */
.slideshow {
  height: 200px;
  width: 940px;
  margin: 0;
}

/* line 208, ../../../app/stylesheets/custom1.scss */
.slideshow img {
  padding: 0;
  background-color: #6f9a06;
}

/* line 211, ../../../app/stylesheets/custom1.scss */
#signup {
  height: 125px;
  right: 62px;
  position: relative;
  bottom: 0px;
  width: 125px;
  border: none;
}

/* line 220, ../../../app/stylesheets/custom1.scss */
#signup a {
  background-image: url("../../images/signup_button.png");
  background-position: left 0;
  font-size: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 125px;
  position: absolute;
  top: 0;
  width: 125px;
  outline: none;
}

/* line 233, ../../../app/stylesheets/custom1.scss */
#signup a:hover {
  background-image: url("../../images/signup_button.png");
  background-position: left -125px;
  background-repeat: no-repeat;
}

/* table-less forms */
/* line 241, ../../../app/stylesheets/custom1.scss */
div.field_hidden input {
  display: none;
}

/*div.field {
  clear: both;
  padding-top: 10px;
  }

div.field label {
  float: left;
  width: 250px;
  text-align: right;
  }

div.field input {
  float: right;
  height:2em;
  text-align: left;
  }

div.field textarea {
  float: right;
  text-align: left;
  }

div.field input[type="checkbox"] {
  float: left;
  width: 50px;
  text-align: left;
  }

div.actions input[type="submit"] {
  float: right;
  text-align: left;
  }  */
/*Pretty table*/
/* line 279, ../../../app/stylesheets/custom1.scss */
table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px;
}

/* line 284, ../../../app/stylesheets/custom1.scss */
.pretty th {
  padding: 4px 10px;
  border-bottom-color: #5d8105;
  border-bottom-style: solid;
  border-bottom-width: medium;
}
/* line 290, ../../../app/stylesheets/custom1.scss */
.pretty td {
  padding: 4px 10px;
  border: solid 1px #5d8105;
}
/* line 293, ../../../app/stylesheets/custom1.scss */
.pretty .hidden {
  border: hidden;
  border-top: solid 1px #5d8105;
  border-right: solid 1px #5d8105;
  text-align: right;
  background: #d2fa72;
}
/* line 299, ../../../app/stylesheets/custom1.scss */
.pretty .price {
  text-align: right;
}
/* line 301, ../../../app/stylesheets/custom1.scss */
.pretty .total {
  text-align: right;
  border-top-color: #5d8105;
  border-top-style: double;
  border-top-width: thick;
}
/* line 309, ../../../app/stylesheets/custom1.scss */
.pretty th .current {
  padding-right: 18px;
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 313, ../../../app/stylesheets/custom1.scss */
.pretty th .asc:after {
  content: "\25B2 \ ";
  text-shadow: #aaaaaa 1px 1px 1px;
}
/* line 316, ../../../app/stylesheets/custom1.scss */
.pretty th .desc:after {
  content: "\25BC \ ";
  text-shadow: #aaaaaa 1px 1px 1px;
}

/* line 321, ../../../app/stylesheets/custom1.scss */
tbody tr:nth-child(even) td, tbody tr.even td {
  background: #a4e409;
}

/* extras */
/* line 325, ../../../app/stylesheets/custom1.scss */
.upper {
  text-transform: uppercase;
}

/* Round corners */
/* line 329, ../../../app/stylesheets/custom1.scss */
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 334, ../../../app/stylesheets/custom1.scss */
#flash div {
  height: 30px;
}

/* line 338, ../../../app/stylesheets/custom1.scss */
#flash_notice, #flash_error, #flash_alert {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ffe6ff;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  color: #000;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  width: 99%;
}

/* line 347, ../../../app/stylesheets/custom1.scss */
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

/* line 351, ../../../app/stylesheets/custom1.scss */
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* line 355, ../../../app/stylesheets/custom1.scss */
#flash_alert {
  background-color: #FFAB56;
  border: solid 1px #C66;
}

/* line 359, ../../../app/stylesheets/custom1.scss */
.field_with_errors {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ffe6ff;
  -moz-box-shadow: 0 0 8px rgba(255, 22, 22, 0.5);
  border: 5px solid #ff1616;
  background-color: #ff1616;
  color: #fff;
  display: inline;
}

/* line 367, ../../../app/stylesheets/custom1.scss */
#error_explanation {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ffe6ff;
  -moz-box-shadow: 0 0 8px rgba(255, 22, 22, 0.5);
  width: 99%;
  border: 2px solid #ff1616;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #6f9a06;
}
/* line 376, ../../../app/stylesheets/custom1.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 110%;
  margin: 0;
  background-color: #ff1616;
  color: #fff;
}
/* line 384, ../../../app/stylesheets/custom1.scss */
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
/* line 388, ../../../app/stylesheets/custom1.scss */
#error_explanation ul {
  margin: 2px 24px;
}
/* line 390, ../../../app/stylesheets/custom1.scss */
#error_explanation ul li {
  font-size: 100%;
  list-style: disc;
}
