<nav id="left_bar">
<div id="outer">
 <div id="inner"> <h5>Adverts</h5> </div>

 <div id="saffronhosts">

  <%= image_tag("SF_130x300.png", :alt => "Saffron Hosts", :id => "SFadvert") %>

 </div>


</div>
</nav>