<div id='/contact'>
  <h1>Contact</h1>

  <p>Telephone service ~ Tel/fax 07092249992</p>
  <hr />

  <p> Please call and leave a message</p>
  <hr />
  <p>
    Or send an email to sales@saffronhosts.com
    <a href="mailto:sales@saffronhosts.com?Subject=Customer%20enquiry">Send mail</a>.
  </p>
</div>