<h1>Help</h1>
<p>
  This is the help page for the
  <a href="http://saffronhosts.com/">SaffronHosts</a>
  customer application.
</p>

<p>Please take a minute to <%= link_to "Sign up", new_user_registration_path %> and <%= link_to "sign in", new_user_session_path %></p>

