<h2 id="form_title">Your computer security</h2>

  <p>We take many steps to protect our computer systems and ensure that your information is safe and secure.</p>
<p>We recommend that you take similar precautions with your own computer.</p>
<p>Here are some of the most important precautions you can take to protect your computer:</p>
<ul>
  <li>Keep your operating system (e.g. Windows XP, Mac OS) and web browser (e.g. Internet Explorer, Firefox) up to date. Occasionally vulnerabilities will be discovered in these products, and the manufacturers will issue ‘patches’ to correct these problems. Visit the website of the company who produces your operating system or browser to check for details of patches or updates they may have issued, and how to upgrade your system</li>

  <li>Use personal firewall software to prevent unauthorised access to your computer when you’re on the internet</li>
  <li>Use anti-virus software on your computer, and ensure it is kept up to date</li>
  <li>Do not download any software if you aren’t sure of its source – including websites which prompt you to click ‘yes’ or ‘OK’ to run a program or install a browser plug-in</li>
  <li>Be wary of unexpected email attachments, particularly those that contain a file ending .exe, .pif or .vbs. Emails are a common way to spread viruses, and if you suspect you have received an email containing a virus, delete it immediately</li>
  <li>Be extremely cautious when using a computer other than your own, or over which you have no control, e.g. in an internet cafe.</li>