<div id='/services'>
  <h1>Services</h1>
  <h2><%= BUSINESS %></h2>
  <h2>Web hosting for home and business - Tel/fax <%= TELEPHONE %></h2>

  <ul>
    <li>Name registration ~ your .com or .co.uk etc.</li>
    <li>Hosting ~ secure webservers to run your website</li>
    <li>Database driven websites ~ get a dynamic website with customer interaction</li>
    <li>Fully managed ~ for those who just want a website, but are not technical</li>
  </ul>
</div>
