<div id='/services'>
  <h1>Services</h1>
  <h2>Web hosting for home and business - Tel/fax 07092249992</h2>

  <ul>
    <li>Name registration ~ your .com or .co.uk etc</li>
    <li>Hosting ~ secure webservers to place your website</li>
    <li>Database driven websites ~ get a dynamic website with customer interaction</li>
    <li>Fully managed ~ for those who just want a website, but are bot technical</li>
  </ul>
</div>
