<noscript>
    <div class="noscript">
      <div class="noscript-inner">
          <p><strong>We detected that your JavaScript seems to be disabled.</strong></p>
          <p>SaffronHosts works best with JavaScript enabled</p>
          <p>You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
      </div>
    </div>
</noscript>